[submodule "src/Omron_TM_ROS2"]
	path = src/Omron_TM_ROS2
	url = https://github.com/zach-goh/Omron_TM_ROS2.git
[submodule "src/Omron_AMR_ROS2"]
	path = src/Omron_AMR_ROS2
	url = https://github.com/zach-goh/Omron_AMR_ROS2.git
